.layout {
  display: flex;
  flex-direction: column;

  flex: 1;

  padding-bottom: 24px;

  width: 100vw;
  min-height: 100vh;

  .main {
    display: flex;

    flex-direction: column;

    flex: 1;

    justify-content: center;
  }
}

